.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}
.backBtn {
  line-height: 50px;
  height: 50px;
}

.coverImage {
  width: 100vw;
  margin-left: -2rem;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.articleContainer {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 46px;
  font-weight: 700;
}

.body {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  line-height: 28px;
  font-size: 19px;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  /* font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif; */
}

.body img {
  display: block;
  /* max-height: 400px; */
  /* height: 300px; */
  object-fit: cover;
  /* margin: 0 auto; */
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .articleContainer {
    max-width: unset;
  }
}
